{% extends 'base.html.twig' %}

{% block title %}Country index{% endblock %}

{% block body %}
    <h1>Country index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Pays</th>
                <th>Infecté</th>
                <th>Sauvé</th>
                <th>Zombifié</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for country in countries %}
            <tr>
                <td>{{ country.name }}</td>
                <td>{{ country.contaminated }}</td>
                <td>{{ country.healed }}</td>
                <td>{{ country.zombified }}</td>
                <td>
                    <a href="{{ path('country_show', {'id': country.id}) }}">show</a>
                    <a href="{{ path('country_edit', {'id': country.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('country_new') }}">Create new</a>
{% endblock %}

