{% extends 'base.html.twig' %}

{% block title %}Country{% endblock %}

{% block body %}
    <h1>{{country.name}}</h1>

    <table class="table">
        <tbody>
            
            <tr>
                <th>id</th>
                <th>Nombre de soigné</th>
                <th>Nombre de zombifié</th>
                <th>Nombre de contaminé</th>
                <th>Date</th>
            </tr>

            
            {% for stat in country.stats %}
                <tr class=" alert alert-{{ stat.healed > stat.zombified ? 'success' : 'danger' }} ">
                    <td> {{ stat.id }}</td>
                    <td> {{ stat.healed }} </td>
                    <td> {{ stat.zombified }} </td>
                    <td> {{ stat.contaminated}} </td>
                    <td> {{ stat.statDate ? stat.statDate|date('Y-m-d') : '' }} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('country_index') }}">back to list</a>

    <a href="{{ path('country_edit', {'id': country.id}) }}">edit</a>

    {{ include('country/_delete_form.html.twig') }}
{% endblock %}
