{% extends 'base.html.twig' %}

{% block title %}Stat index{% endblock %}

{% block body %}
    <h1>Stat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contaminated</th>
                <th>Healed</th>
                <th>Zombified</th>
                <th>Stat_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for stat in stats %}
            <tr>
                <td>{{ stat.id }}</td>
                <td>{{ stat.contaminated }}</td>
                <td>{{ stat.healed }}</td>
                <td>{{ stat.zombified }}</td>
                <td>{{ stat.statDate ? stat.statDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('stat_show', {'id': stat.id}) }}">show</a>
                    <a href="{{ path('stat_edit', {'id': stat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('stat_new') }}">Create new</a>
{% endblock %}
